<div class="wrapper-header">
  <div class="row">
      
      
    <div class="col-md-6">
      <ul class="menu-header">
        <li routerLink="/">
            Home
          </li>
          <li routerLink="/somos">
              Quem Somos
          </li>
          <li routerLink="/trilha">
              Trilhas
          </li>
          <li routerLink="/cadastro-clientes">
              Agendamento
          </li>
          <li routerLink="/contato">
              Contato
          </li>
          
      </ul>
      
    </div>
    <div class="col-md-0" id="titulo">
        <h2 class="text-center">De casa Ao infinito</h2>
     </div> 
      
    

  </div>


</div>

