
<div class="container">

    <h1 class="display-1">Nossas trilhas ☺♥</h1>
    
    <div class="row">
      <div class="col-12">
        <img src="assets\images\download.jpg">
        <p class="lead"><strong>Pão de Açucar</strong></p>
      </div>
      <div class="col-12">
        <img src="assets\images\download1.jpg">
        <p class="lead"><strong>Pedra da Gavea</strong></p>
      </div>
    </div>
    

    <div class="row">
        <div class="col-12">
          <img src="assets\images\download2.jpg">
          <p class="lead"><strong>Pedra Bonita</strong></p>
        </div>
        
      
          <div class="col-12">
            <img src="assets\images\download3.jpg">
            <p class="lead"><strong>Pico da Tijuca</strong></p>
          </div>
        </div>
        <br>
        <br>
</div>
