.btn-somos-trilha {
    position: absolute !important;
    top: 300px;
    right: 0;
    padding: 15px;
    font-size: 25px;
    width: 50%;
    background: linear-gradient(to right, rgba(23, 134, 13, 0), rgb(10, 110, 27));
    color: rgb(20, 102, 57);
    border: 1px solid;
    box-shadow: 0 2px 5px -2px rgb(2, 24, 11);
}


h1{

    font-family: New Roman;
    font-size: 50pt;
    color:rgb(19, 107, 23);
    opacity: 10;
    filter: alpha(opacity = 100);
    
}

p{

    font-family: New Roman;
    font-size: 15pt;
    color:rgb(11, 66, 57);
    opacity: 10;
    filter: alpha(opacity = 100);

}

strong{

    font-family: New Roman;
    font-size: 16pt;
    color:rgb(7, 19, 8);
    opacity: 10;
    filter: alpha(opacity = 100);

}


