<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-20">
      <h1 class="display-4">De Casa Ao Infinito</h1>
      <blockquote class="blockquote text-justify">
      <p class="lead"><strong>Fundada em Agosto de 2018, de casa ao Infinito desde sua inauguração se 
        preocupa em trazer a saúde e a boas experiências para seus clientes, que contam com 
        todo o suporte de guias bem preparados, além de uma equipe exelente que contem fotografos,  
        um enfermeiro e um instrutor.</strong></p>
      </blockquote>

      <blockquote class="blockquote text-justify">
      <p class="lead">Nossos fotografos estão sempre presente para registrar cada momento
        de uma aventura fantástica, que você terá em nossas trilhas cotidianas. Proporcioanando 
        para nossos cliente otimas lembrança de um dia incrivél. 
      </p>
      </blockquote>

      <blockquote class="blockquote text-justify">
      <p class="lead">Nossos enfermeiros são formados e competentes para pronto atender nossos clientes
        caso aja uma necesscidade de atendimento em nossas aventuras. Proporcioanando assim segurança e confiança
        para nossos jovens e mais idosos que possam necessitar de pronto atendimento. Ah é importante destacar que temos
        ao nosso dispor um transporte, caso aja necesscidade de deslocamento urgente. 
      </p>
      </blockquote>
    </div>
    <div class="col">
        <h2>Nosso Compromisso</h2>
        <blockquote class="blockquote text-justify">
        <p class="lead">Proporcionar para nossso trilheiros uma experiência inesquecivél de conhecer um novo lugar e ainda se exercitar trazendo 
          benerficios para sua saude. E registrar cada momento em meio a natureza maravilhosa continda na cidade do Rio de Janeiro</p>
        </blockquote>

        <h2>Visão</h2>
        <blockquote class="blockquote text-justify">
        <p>Ser uma "agencia" que motiva pessoas a sair do sedentarismo e mergulhar numa jornada de aventuras, na qual jamais vão esquecer.
          E atrair também nossos visitantes do estado para aproveita melhor sua estadia aqui no Rio de Janeiro.
        </p>
        </blockquote>
    </div>
    <div class="col">   
        <h2>Valores</h2>
        <blockquote class="blockquote text-justify">
        <ul class="lead">
          <li>Compromisso e ética na prestação de serviços;</li>
          <li>Excelência no atendimento;</li>
          <li>Oferecer preço justo por nossas trilhas;</li>
          <li>Preocupação com a saúde, qualidade de vida e desbravamento.</li>
        </ul>        
        </blockquote>
        <button class="btn btn-somos-trilha" (click)="gotoTrilha()">Veja Nossas Trilhas</button>

    </div>
  </div>
  <br>
  <br>
  <br>
</div>